
 <div ng-app="app">
      <div ng-controller="ShiftListCtrl">
    <ul>
      <li ng-repeat="shift in shifts">
      {{shift.id}}, {{ shift.week }}
      </li>
    </ul>
    <br />
    </div>
</div>
  <button>
      <%= link_to 'New Assignment', new_assignment_path, :remote => true, :id => "new_assignment_link" %>
  </button>

  