<h3>All assignments</h3>

  <button><%= link_to 'New Assignment', new_assignment_path, :remote => true, :id => "new_assignment_link" %></button>

<%= render 'table' %>


<h4>Inactive Assignments</h4>
<ul class="list-group">
    
<% @inactive_assignments.each do |assignment| %>

    <%= render 'list', assignment: assignment %> 

<% end %>

</ul>

 