<%= form_for @company_profile do |f| %>
  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: "form-control", placeholder: "Company Name" %>
  </div>
    
  <br>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

