// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #000;
  background-color: #888;
  
  &:target {
      background-color: rgb(248, 238, 199);
      padding: 8px;
  }
}

.user li {
  margin-left: 5px;
  color: #000;
}